<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Random Drawer System{% endblock title %}</title>
    </head>
    <body>
        {% block content %}{% endblock content %}
        <hr>
        <h3>Items</h3>
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/history">Historical Record</a></li>
            <li><a href="/reset">Reset Database</a></li>
            <li><a href="/addmember">Add New Member</a></li>
            <li><a href='/showmember'>Show All Current Members</a></li>
        </ul>
    </body>
</html>
