<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}隨機抽籤{% endblock title %}</title>
    </head>
    <body>
        {% block content %}{% endblock content %}
        <hr>
        <h3><功能列</h3>
        <ul>
            <li><a href="/">首頁（抽籤）</a></li>
            <li><a href="/history">歷史記錄</a></li>
            <li><a href="/reset">清除記錄、還原原始成員資料</a></li>
            <li><a href="/addmember">加入成員</a></li>
            <li><a href='/showmember'>顯示成員</a></li>
        </ul>
    </body>
</html>>