<!-- templates/history.html -->
{% extends "base.html" %}

{% block title %}Historical Records{% endblock title %}

{% block content %}
<h1>The latest 10 records</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for history in recent_histories %}
    <tr>
      <td>{{ history.name }}</td>
      <td>{{ history.gender }}</td>
      <td>{{ history.draw_time.strftime("%Y / %m / %d - %H : %M") }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
